*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: #f5f0e1;

}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: #1e3d59;
}


.row{
    display: flex;
}

.balloon {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 100%;
}



.first-col{
    background-color: #d71b3b;
}

.second-col{
    background-color: #e8d71e;
}

.third-col {
    background-color:#16acea;
}

.fourth-col{
    background-color: #4203c9;
}

.visible{
    background-color: #f5f0e1;
}

.result { 
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restart-btn {
    margin-top: 1.5rem;
    font-family: "Poppins",sans-serif;
    background-color: #1e3d59;
    font-size: 0.8rem;
    color:#f5f0e1;
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
}

#restart-btn:hover {
    background-color:#305a7f;
    transform: scale(1.1);
}

#start-modal{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0;
    left: 0;
    z-index: 1;
}